$body-color: #e3dad3;
$section-color: #fffbf2;
$text-color: #171717;
$link-color: #e35530;
$divider-color: #bfad9e;
$border-radius: 4px;

$body-color-dark: #171717;
$section-color-dark: #171717;
$text-color-dark: #fff;

@font-face {
  font-family: Geist-Regular;
  src: url("../fonts/Geist-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Sentient-LightItalic;
  src: url("../fonts/Sentient-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: Sentient-Regular;
  src: url("../fonts/Sentient-Regular.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
}

body {
  background: $body-color url("../images/light.png") no-repeat center / cover;
  color: $text-color;
  height: 100%;
  margin: 0;
  padding: 0;

  @media (prefers-color-scheme: dark) {
    background-color: $body-color-dark;
    background-image: url("../images/dark.png");
    color: $text-color-dark;
  }
}

section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 16px;
}

main {
  align-items: center;
  background-color: rgba($section-color, 0.8);
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;

  &::before,
  &::after {
    background-color: $divider-color;
    content: " ";
    display: block;
    height: 20px;
    width: 1px;

    @media screen and (width >= 1024px) {
      height: 28px;
    }
  }

  @media screen and (width >= 1024px) {
    gap: 52px;
    padding: 28px;
    width: 928px;
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba($section-color-dark, 0.8);
  }
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 48px;
  width: auto;

  @media screen and (width >= 1024px) {
    height: 67px;
  }

  @media (prefers-color-scheme: dark) {
    filter: brightness(0) invert(1);
  }
}

.h1 {
  font: 32px/40px Sentient-Regular, serif;
  text-align: center;
  position: relative;
  top: -16px;

  @media screen and (width >= 1024px) {
    font-size: 48px;
    line-height: 56px;
    top: -12px;
  }

  &_accent {
    font-family: Sentient-LightItalic, serif;
  }
}

.mail {
  align-items: center;
  background-color: rgba($link-color, 0.04);
  border: 1px solid $link-color;
  border-radius: $border-radius;
  color: $link-color;
  display: flex;
  font: 16px Geist-Regular, sans-serif;
  gap: 10px;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: 12px 24px;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  width: fit-content;

  &:active,
  &:hover {
    opacity: 0.75;
  }

  &::before {
    background: url("../images/mail.svg") no-repeat center / contain;
    content: " ";
    display: block;
    height: 20px;
    width: 20px;

    @media screen and (width >= 1024px) {
      width: 24px;
      height: 24px;
    }
  }

  @media screen and (width >= 1024px) {
    font-size: 20px;
    padding: 24px 64px;
    letter-spacing: 1px;
  }

  &_link {
    border-bottom: 1px solid $link-color;
  }
}
