.error-section {
  @extend %section;
}

.error-main {
  @extend %main;
}

.error-article {
  @extend %article;
}

.error-h1 {
  text-align: center;
}

.error-here {
  @extend %button-link;

  padding: 12px;

  @media screen and (width >= 1024px) {
    padding: 24px;
  }
}
