.home-body {
  background-image: url("../images/light.png");
  background-position: center;
  background-size: cover;
  color: $text-color;

  @media (prefers-color-scheme: dark) {
    background-image: url("../images/dark.png");
    color: $text-color-dark;
  }
}

.home-section {
  @extend %section;
}

.home-main {
  @extend %main;

  background-color: rgba($section-color, 0.8);
  border-radius: $border-radius;

  @media (prefers-color-scheme: dark) {
    background-color: rgba($section-color-dark, 0.8);
  }

  &::before,
  &::after {
    background-color: $divider-color;
    content: " ";
    display: block;
    height: 20px;
    width: 1px;

    @media screen and (width >= 1024px) {
      height: 28px;
    }
  }
}

.home-article {
  @extend %article;
}

.home-logo {
  height: 48px;
  margin-top: -16px;
  width: auto;

  @media screen and (width >= 1024px) {
    height: 67px;
    margin-top: -24px;
  }

  &.light {
    display: block;
    @media (prefers-color-scheme: dark) {
      display: none;
    }
  }

  &.dark {
    display: none;
    @media (prefers-color-scheme: dark) {
      display: block;
    }
  }
}

.home-h1 {
  text-align: center;

  span {
    font-family: $font-sentient-light-italic, serif;
    font-style: italic;
  }
}

.home-mail {
  @extend %button-link;

  padding: 12px 24px;

  @media screen and (width >= 1024px) {
    padding: 24px 64px;
  }

  &::before {
    background: url("../images/mail.svg") no-repeat center / contain;
    content: " ";
    display: block;
    height: 20px;
    width: 20px;

    @media screen and (width >= 1024px) {
      height: 24px;
      width: 24px;
    }
  }
}

.home-powered {
  align-items: center;
  display: flex;
  font: 14px $font-geist-regular, sans-serif;
  gap: 8px;
  letter-spacing: 0.5px;

  @media screen and (width >= 1024px) {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.home-icons {
  align-items: center;
  display: flex;
  gap: 16px;
}

.home-polygon {
  @extend %footer-ico;

  height: 20px;
}

.home-eigen-layer {
  @extend %footer-ico;

  height: 35px;
}
