$body-color: #e3dad3;
$body-color-dark: #171717;
$section-color: #fffbf2;
$section-color-dark: #171717;
$text-color: #171717;
$text-color-dark: #fff;
$link-color: #e35530;
$divider-color: #bfad9e;
$border-radius: 4px;
$font-geist-regular: "Geist-Regular";
$font-sentient-light-italic: "Sentient-LightItalic";
$font-sentient-regular: "Sentient-Regular";
